[Unit]
Description=Raspi5-NAS Backup Timer - täglich 03:00

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true
Unit=raspi5nas-backup.service

[Install]
WantedBy=timers.target
